<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Usuários</title>
    <div th:replace="fragments/head"></div>
</head>
<body>
<div id="app">
<div th:replace="fragments/menu"></div>

<div id="main">
        <div class="card">
            <div class="card-header">
                <h2>Adicionar Usuário</h2>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <form class="form form-vertical" th:action="@{/usuarios/add}" th:object="${usuarioEntity}"
                          method="post">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="first-name-icon">Nome</label>
                                        <div class="position-relative">
                                            <input class="form-control" id="first-name-icon"
                                                   placeholder="Insira seu nome" type="text" th:field="*{nome}">
                                            <div class="form-control-icon">
                                                <i class="bi bi-person"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">

                                    <div class="form-group has-icon-left">

                                        <label for="email-id-icon">Email</label>
                                        <div class="position-relative">
                                            <input class="form-control" id="email-id-icon" placeholder="Email"
                                                   type="text" th:field="*{email}">
                                            <div class="form-control-icon">
                                                <i class="bi bi-envelope"></i>
                                            </div>
                                        </div>
                                        <div class="text-danger" th:text="${erroEmail}"></div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="age-id-icon">Idade</label>
                                        <div class="position-relative">
                                            <input class="form-control" id="age-id-icon" placeholder="Idade"
                                                   type="number" th:field="*{idade}">
                                            <div class="form-control-icon">
                                                <i class="bi bi-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-end">
                                    <button class="btn btn-primary me-1 mb-1" type="submit">Salvar</button>
                                    <a th:href="@{/usuarios}" class="btn btn-light-secondary me-1 mb-1">Voltar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--<form th:action="@{/usuarios/add}" th:object="${usuarioEntity}" method="post">
            <div class="mb-3">
                <label for="exampleInputNome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="exampleInputNome" th:field="*{nome}">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail" class="form-label">Email</label>
                <input type="text" class="form-control" id="exampleInputEmail" th:field="*{email}">
                <div class="text-danger text-center" th:text="${erroEmail}"></div>
            </div>
            <div class="mb-3">
                <label for="exampleInputIdade" class="form-label">Idade</label>
                <input type="number" class="form-control" id="exampleInputIdade" th:field="*{idade}">
            </div>
            <div class="row">
                <div class="col-sm">
                    <a th:href="@{/usuarios}" class="btn btn-warning" style="width: 100%">Cancelar</a>
                </div>
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary" style="width: 100%">Salvar</button>
                </div>
            </div>
        </form>-->
</div>

<div th:replace="fragments/scripts"></div>
</div>

</body>
</html>